<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<h1>Reports</h1>
<h2>Burn down chart</h2>
<%#= bar_chart @users.group(:created_at) %>
<%#= line_chart @goals.map{|goal|
    {name: goal.name, data: goal.feats.group_by_week(:created_at).count}
} %>
<% if false %>
<% @stt.each do |ha| %>
  <%= ha.id %>
<% end %>
<% end %>
<%= @stt.n%>
<%= %>
<div id="burndown"></div>

<h2>Sprint Velocity</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Sprint ID</th>
        <th>Estimated velocity</th>
        <th>Selected velocity</th>
        <th>Realized velocity</th>
        <th>Work input</th>
    </tr>
    </thead>
    <tbody>
    <% @sprints.each do |sprint| %>
        <tr>
            <td><b>Sprint <%= sprint.id %></b></td>
            <td><%= sprint.velocity %> pt</td>
			<td><%= @selected_velocity[sprint.id] %> pt</td>            
            <td><%= @realized_velocity[sprint.id] %> pt (<%= @realized_velocity[sprint.id]/@selected_velocity[sprint.id]*100 rescue 0 %>%)</td>
            <td><%= @work_input[sprint.id] %>h</td>
        </tr>
    <% end %>
    </tbody>
</table>

  <script>
      var work = <%= @lst.to_json.html_safe %>;
      var lol = <%= @xax.to_json.html_safe %>;
      console.log(work);
      $('#burndown').highcharts({
          credits: {
              enabled: false
          },
          title: {
              text: 'Burn down chart',
              x: -20 //center
          },
          xAxis: {
              categories: lol
          },
          yAxis: {
              title: {
                  text: ''
              },
              plotLines: [{
                  value: 0,
                  width: 1,
                  color: '#808080'
              }]
          },
          tooltip: {
              valueSuffix: 'h'
          },
          legend: {
              layout: 'vertical',
              align: 'right',
              verticalAlign: 'middle',
              borderWidth: 0
          },
          series: [{
              name: 'Work remaining',
              data: work
          }]
      });
  </script>