<% if @task.errors.any? %>
    <div class="alert alert-danger">
        The form contains <%= pluralize(@task.errors.count, "error") %>.
    </div>
<% end %>
<div id="form-add">
    <%= form_for @task do |f| %>
        <h2>New task for story: <%= @story.name %></h2>
        <% if @task.errors.any? %>
            <div id="error_explanation">
                <ul>
                    <% @task.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>

        <div class="input-group">
            <%= f.label :name, "Task name", :class => "input-group-addon" %>
            <%= f.text_field :name, :class => "form-control" %>

        </div>


        <!--da se ohranja story_id ne vem ce je vredu tko-->
        <%= f.hidden_field :story_id, value:  @story.id %>

<!--        <div class="input-group">
            <%= f.label :assigned_to, "Task is assigned to", :class => "input-group-addon" %>
            <%= f.select :assigned_to, User.all.collect { |x| [x.user, x.id] }, {}, :multiple => true, :size => "3", :class => "form-control" %>
            &lt;!&ndash; tle poprav da bojo sam uni k so na projektu... &ndash;&gt;
        </div>-->


       
        <p class="buttons">
            <%= f.submit "Add task", :class => "btn btn-primary pull-right" %>
        </p>
    <% end %>
</div>