<% if @article.errors.any? %>
    <ul>
      <%= @article.errors.full_messages.each do |message| %>
          <li><%= message %></li>
      <% end %>
    </ul>
<% end %>
<hr class="divider">
<%= form_for @article do |f| %>
    <div>
      <%= f.label :title %>
    </div>
    <div>
      <%= f.text_field :title %>
    </div>
    </br>
    <div>
      <%= f.label :body %>
    </div>
    <div>
      <%= f.text_area :body, rows: 10 %>
    </div>
    <br>
    <% @articles.each do |article| %>
        <button class="btn btn-xs btn-primary pull-right" data-toggle="modal" data-target="#notesModal<%= article.id %>">
          Import user stories
        </button>
    <% end %>
    <br>
    <br>
    <div>
      <%= f.submit "Post documentation", :class => "btn btn-primary pull-right" %>
    </div>
<% end %>

<script type="text/javascript">$(document).ready(function() {
    if ($('textarea').length > 0) {
        var data = $('textarea');
        $.each(data, function(i) {
            CKEDITOR.replace(data[i].id, { height: '400px' } );
        });
    }
});</script>


<% @articles.each do |article| %>
    <div class="modals">
      <div class="modal" id="notesModal<%= article.id %>" tabindex="-1" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Import user stories</h4>
            </div>

            <%= form_tag edit_documentation_article_path(article.id), method: 'patch' do %>

                <ul style="list-style: none;">
                  <h3>Available stories</h3>
                  <% @stories.each do |story| %>
                      <li>
                        <%= check_box_tag("story_ids[]", story.id) %>
                        <%= label_tag(story.name) %>
                      </li>
                  <% end %>
                </ul>

                <hr class="divider">
                <ul style="list-style: none;">
                  <input type="checkbox" id="selectAll" value="selectAll"> <b>Select all stories</b>
                </ul>
                <hr class="divider">

                <ul style="list-style: none;">
                    <h3>What to import</h3>
                    <%= select_tag "conditions", "<option selected='selected'>Title</option><option selected='selected'>Description</option><option>Acceptance tests</option><option>Notes</option>".html_safe, multiple: true, class: 'form_input' %>
                </ul>

                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <%= submit_tag ("Import"), :class => "btn btn-primary pull-right" %>
                </div>

            <% end %>

          </div>
        </div>
      </div>
    </div>
<% end %>

<script type="text/javascript">$(document).ready(function() {
    $('#selectAll').click(function() {
    if (this.checked) {
    $(':checkbox').each(function() {
    this.checked = true;
    });
    } else {
    $(':checkbox').each(function() {
    this.checked = false;
    });
    }
    });
});</script>