<%= link_to "New Documentation", new_article_path %>
<hr class="divider">
<% @articles.each do |article| %>
    <h3>Title: <%= article.title.html_safe %></h3>
    <p><%= simple_format(article.body.html_safe) %></p>
    <%= link_to "Edit Documentation", edit_article_path(article) %>
    <td> <%= button_to "Remove", article_path(article.id), :confirm => "Are you sure?", :class => "btn btn-xs btn-danger pull-right", :method => :delete %></td>
    <br />
    <hr />
<% end %>