<div id="form-active-project">
    <%= form_for @user do |f| %>
        <h1>Project wall</h1>
        <div class="input-group pull-right">
            <%= f.label :activeproject_id, "Active project", :class => "input-group-addon" %>
            <%= f.collection_select :activeproject_id, @projects, :id, :name, {:include_blank => true}, {:class => "form-control"} %>
        </div>
        <div class="clear"></div>
    <% end %>
</div>

<% if activeproject? %>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="<%= 'active' if params[:tab] == 'scrum' %>"><a href="#scrum" data-toggle="tab">Daily scrum</a></li>
        <li class="<%= 'active' if params[:tab] == 'discussion' %>"><a href="#discussion" data-toggle="tab">Discussion</a></li>
        <!--<li><a href="#discussion" data-toggle="tab">Discussion</a></li>
        <li><a href="#documentation" data-toggle="tab">Documentation</a></li>-->
        <li class="<%= 'active' if params[:tab] == 'documentation' %>"><a href="#documentation" data-toggle="tab">Documentation</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="<%= if (params[:tab] == 'scrum' || !params[:tab]) then 'tab-pane active'  else 'tab-pane' end%>" id="scrum">

            <h2>Daily scrum</h2>
            ...
        </div>

        <div class="<%= if params[:tab] == 'discussion' then 'tab-pane active'  else 'tab-pane' end%>" id="discussion">
            <h2>Discussion</h2>
            <div id="form-add">
                <%= form_for @post do |f| %>

                    <div class="input-group">
                        <%= f.label :topic, "Topic", :class => "input-group-addon" %>
                        <%= f.text_field :topic, :class => "form-control" %>
                    </div>
                    <div class="input-group">
                        <%= f.label :value, "Post a new message", :class => "input-group-addon" %>
                        <%= f.text_area :value, :class => "form-control" %>
                    </div>
                    <p class="buttons">
                        <%= f.submit "Add post", :class => "btn btn-primary pull-right" %>
                    </p><p>&nbsp;</p>
                <% end %>
            </div>


            <div class="part-story">
                <% if !@posts.empty? %>
                    <% @posts.each do |post| %>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="story-head">
                                    <% user=User.find(post.user_id) %>
                                    <small><% if !post.topic.blank? %><font size="5" color="blue">Topic: <b><%= post.topic %></b></font> <font size="5">|</font> <% end %>
                                        <font size="4" color="green">User: <b><%= user.username %></b></font> <font size="5">|</font> Date&Time: <b><%= post.created_at %></b></small>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="panel-body">
                                <%= simple_format(post.value) %>
                                <% if scrummaster? || admin? || (current_user.id == post.user_id)%>
                                    <td> <%= button_to "Remove", post_path(post.id), :confirm => "Are you sure?", :class => "btn btn-xs btn-danger pull-right", :method => :delete %></td>
                                <% end %>
                                <div class="clear"></div>
                                <br />

                                <% @comments.each do |comment| %>
                                    <% if comment.post_id == post.id %>
                                        <div class="panel panel-default">
                                            <div class = "panel-heading">
                                                <% user_com=User.find(comment.user_id) %>
                                                <small><b><%= user_com.username %>: </b>
                                                    <%= print_multiline(comment.value) %><%#= comment.value %></small><br />
                                                <small><i><%= comment.created_at %></i></small>
                                                <% if scrummaster? || admin? || (current_user.id == comment.user_id)%>
                                                    <%= button_to "Remove", comment_path(comment.id), :confirm => "Are you sure?", :class => "btn btn-xs btn-danger pull-right", :method => :delete %>
                                                <% end %>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    <% end %>
                                <% end %>
                                <! now you can add new comment >
                                <div id="form-add">
                                    <%= form_for @comment do |f| %>

                                        <div class="input-group pull-left">
                                            <%= f.text_area :value, :placeholder=>"Write your comment here", :class => "comment-text-area" %>
                                            <%= f.hidden_field :post_id, :value => post.id%>
                                        </div>
                                        <p class="buttons">
                                            <%= f.submit "Add comment", :class => "btn btn-xs btn-primary pull-right" %>
                                        </p><p>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    <% end %>
                <% else %>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            - The wall is empty -
                        </div>
                    </div>

                <% end %>
            </div>

            <hr class="divider">

            <div class="part-story">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Project team</h4>
                    </div>
                    <div class="panel-body">
                        <ul class="acceptance-tests">
                            <% @users.each do |user| %>
                                <% user=User.find(user.user_id) %>
                                <li><%= user.username %>: <%= user.name %> <%= user.surname %> (<%= user.email %>)</li>
                            <% end %>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="<%= if params[:tab] == 'documentation' then 'tab-pane active'  else 'tab-pane' end%>" id="documentation">
            <!--<div class="tab-pane" id="documentation">-->
            <h2>Documentation</h2>
            <%= link_to "View documentation", articles_path %>
        </div>
    </div>
<% end %>