<h1>My tasks</h1>


<!-- Nav tabs -->
<ul class="nav nav-tabs">
    <li class="active"><a href="#my-tasks" data-toggle="tab">My tasks</a></li>
    <li><a href="#todays-work" data-toggle="tab">Today's work</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" id="my-tasks">
        <div class="part-story">
            <% if !@taskinprogress.empty? %>
            <div class="panel panel-default">
                <table class="table table-striped">
                <% @taskinprogress.each do |t| %>
                <tr>
                    <td><b>Currently working on:</b> <%= t.name %></td>
                    <td> <%= button_to "Stop work", stopwork_path(:id_task => t.id), :class => "btn btn-xs btn-success pull-right" %></td>
                </tr>
                <% end %>
                </table>
            </div>
            <% end %>
            <% if !@userstories.empty? %>
                <% @userstories.each do |story| %>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <b><%= story.name %></b> (Priority: <%= story.priority.name %> | Business
                                value: <%= story.value %>)
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="panel-body">
                            <%= story.description %>
                            <ul class="acceptance-tests text-primary">
                                <% story.test.split(/\n/).each do |test| %>
                                    <li># <%= test %></li>
                                <% end %>
                            </ul>
                            <% @tasks = Task.where(story_id: story.id) %>

                            <% if @tasks.count != 0 %>
                                <div class="panel panel-default panel-list-user">
                                    <div class="panel-heading">
                                        <%= form_tag tasks_path, :method => 'get' do %>

                                            <div><b>Tasks</b></div>
                                        <% end %>
                                        <div class="clear"></div>
                                    </div>
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Status / action</th>
                                            <th>Assigned to</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <% @tasks.each do |task| %>
                                            <tr>
                                                <% if (task.assigned_to == current_user.id) %>
                                                    <td><%= task.name %></td>
                                                    <% if task.assigned_to == nil %>
                                                        <% if task.proposed_id == nil %>
                                                            <td><%= link_to "Accept task", accept_path(:id => task.id), :method => :post %></td>
                                                            <td>none</td>
                                                        <% elsif task.proposed_id == current_user.id %>
                                                            <td>
                                                                <%= link_to "Accept task", accept_path(:id => task.id), :method => :post %>
                                                                /
                                                                <%= link_to "Reject", reject_path(:id => task.id), :method => :post %>
                                                            </td>
                                                            <td class="font-red">me</td>
                                                        <% else %>
                                                            <td class="font-grey font-bold">Pending </td>
                                                            <td>(<%= User.find(task.proposed_id).username %>)</td>
                                                        <% end %>
                                                    <% else %>
                                                        <% if task.completed == false %>
                                                            <td class="font-red font-bold">Assigned</td>
                                                        <% else %>
                                                            <td class="font-green font-bold">Completed</td>
                                                        <% end %>
                                                        <% user = User.find(task.assigned_to) %>
                                                        <td>
                                                            <%= user.username %>
                                                            <% if user.id == current_user.id %>
                                                                <%= link_to "Release", release_path(:id => task.id), :method => :post %>
                                                            <% end %>
                                                        </td>
                                                    <% end %>
                                                <td> </td>
                                                <td>
                                                    <% if (@taskinprogress.empty?) %>
                                                        <%= button_to "Start work", startwork_path(:id_task => task.id), :class => "btn btn-xs btn-success pull-right" %>
                                                    <% end %>  
                                                </td>
                                                <td><%= button_to "Work history", {}, :class => "btn btn-xs btn-success pull-right", :method => :get %></td>

                                                <% end %>

                                            </tr>
                                        <% end %>
                                        </tbody>
                                    </table>
                                </div>
                            <% else %>
                            <% end %>
                        </div>
                    </div>
                <% end %>
            <% else %>
                You do not have any more tasks.
            <% end %>            
        </div>
    </div>
    <div class="tab-pane" id="todays-work">
        <div class="part-story">
            <% if !@todayswork.empty? %>
                <% @todayswork.each do |t| %>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <%= t.name %>
                            </div>
                            <div class="clear"></div>
                        </div>
                        
                    </div>
                <% end %>
            <% else %>
                You have not done any tasks today.
            <% end %>            
        </div>
    </div>
</div>
