<% if @sprint.errors.any? %>
    <div class="alert alert-danger">
        The form contains <%= pluralize(@sprint.errors.count, "error") %>.
    </div>
<% end %>


<div id="form-add-user">
    <%= form_for @sprint do |f| %>
        <h2>Edit Sprint: <%= @sprint.start %> - <%= @sprint.end %> </h2>

        <% if @sprint.errors.any? %>
            <div id="error_explanation" class="text-danger">
                <ul>
                    <% @sprint.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>
      <div class="input-group">
        <%= f.label :start, "Sprint start*", :class => "input-group-addon" %>
        <%= f.text_field :start, :class => "form-control", :id => "dp1" %>
      </div>
      <div class="input-group">
        <%= f.label :end, "Sprint end*", :class => "input-group-addon" %>
        <%= f.text_field :end, :class => "form-control", :id => "dp2" %>
      </div>
        <div class="input-group">
            <%= f.label :velocity, "Sprint velocity", :class => "input-group-addon" %>
            <%= f.text_field :velocity, :class => "form-control" %>
        </div>
        <p class="buttons">
            <%= f.submit "Save changes", :class => "btn btn-primary pull-right" %>
        </p>
    <% end %>
</div>
<script>
    $('#dp1').datepicker({
        format: 'yyyy-mm-dd'
    })
    .on('changeDate', function(){
        $('#dp1').datepicker('hide')
    });
    $('#dp2').datepicker({
        format: 'yyyy-mm-dd'
    })
    .on('changeDate', function(){
        $('#dp2').datepicker('hide')
    })
</script>