<h1>Sprints</h1>
<div class="panel panel-default panel-list-user">
  <div class="panel-heading">
    <%= form_tag sprints_path, :method => 'get' do %>
        <div class="input-group input-group-search pull-left">
          <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
          <%= text_field_tag :search, params[:search], :class => 'form-control' %>
        </div>
        <%= submit_tag "Search", :name => nil, :class => "btn btn-primary pull-left" %>
    <% end %>
    <%= button_to "Add sprint", new_sprint_path, :class => "btn btn-primary pull-right", :method => :get %>
    <div class="clear"></div>
  </div>

  <!-- Table -->
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Sprint</th>
      <th>Start</th>
      <th>End</th>
      <th>Velocity</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @sprints.each do |sprint| %>
        <tr>
          <td><%= sprint.number %></td>
          <td><%= sprint.start %></td>
          <td><%= sprint.end %></td>
          <td><%= sprint.velocity %></td>
          <td><%=  %></td>
          <td></td>

          <td><%= button_to "Edit", edit_sprint_path(sprint.id), :class => "btn btn-xs btn-success pull-right", :method => :get %>

          <% if !sprint_running?(sprint) %>
            <%= button_to "Remove", sprint_path(sprint.id), :confirm => "Are you sure?", :class => "btn btn-xs btn-danger pull-right", :method => :delete %>
          <% else %>
            <b>RUNNING</b>
          <% end %>

          </td>


        </tr>
    <% end %>
    </tbody>
  </table>
</div>