<h1>Product backlog</h1>
<div class="backlog-buttons">
    <% if productowner? || scrummaster? || admin? %>
        <%= button_to "Add story", new_story_path, :class => "btn btn-primary pull-right", :method => :get %>
    <% end %>
    <% if scrummaster? || admin? %>
        <%= button_to "Manage sprints", sprints_path, :class => "btn btn-primary pull-right", :method => :get %>
    <% end %>
</div>

<!-- Nav tabs -->
<ul class="nav nav-tabs">
    <li class="active"><a href="#unfinished-stories" data-toggle="tab">Unfinished stories</a></li>
    <li><a href="#finished-stories" data-toggle="tab">Finished stories</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" id="unfinished-stories">
        <h2>User stories for current sprint<% if @current_sprint_name.present? %>: <%= @current_sprint_name %><% end %></h2>
        <div class="part-story">
            <% if !@sprintStories.empty? %>
                <% @sprintStories.each do |story| %>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="story-head">
                                <h4><%= story.name %></h4>
                                <small>Priority: <%= story.priority.name %> <% if !story.value.nil? %> | Business value: <%= story.value %> <% end %> | Estimates: <%= story.timeestimates %></small>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="panel-body">
                            <%= story.description %>
                            <ul class="acceptance-tests text-primary">
                                <% story.test.split(/\n/).each do |test| %>
                                    <li># <%= test %></li>
                                <% end %>
                            </ul>
                            <% if !story.note.nil? %>
                                <ul class="notes text-warning">
                                    <% story.note.split(/\n/).each do |note| %>
                                        <li>-- <%= note %></li>
                                    <% end %>
                                </ul>
                            <% end %>
                            <% if productowner? || admin? %>
                                <hr class="divider">
                                <div class="accept pull-right">
                                    <b>Acceptance test: </b><%= link_to "Reject", reject_story_path(story.id), :class => "btn btn-sm btn-danger", :method => :patch %> <%= link_to "Accept", accept_story_path(story.id), :class => "btn btn-sm btn-success", :method => :patch %>
                                </div>
                            <% end %>
                        </div>
                    </div>
                <% end %>
            <% else %>
                No stories for current sprint
            <% end %>
        </div>
        <h2>Remaining user stories</h2>
        <div class="part-story">

            <% if !@remainingStories.empty? %>
            <%= form_tag addtosprint_path do %>

                <% @remainingStories.each do |story| %>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <% if (scrummaster? || admin?) && @current_sprint != nil %>
                                <div class="story-check">
                                    <%= check_box_tag "story_id[]", story.id %>
                                </div>
                            <% end %>
                            <div class="story-head">
                                <h4><%= story.name %></h4>
                                <small>Priority: <%= story.priority.name %> <% if !story.value.nil? %> | Business value: <%= story.value %> <% end %> | Estimates: <%= story.timeestimates %></small>
                            </div>

                            <% if scrummaster? || admin? || productowner? %>
                                <%= link_to "Edit", edit_story_path(story.id), :class => "btn btn-xs btn-success pull-right" %>
                                <%= link_to "Remove", story_path(story.id), :class => "btn btn-xs btn-danger pull-right", :method => :delete %>
                            <% end %>
                            <% if scrummaster? || admin? %>
                                <div class="input-group input-group-sm">
                                    <span class="input-group-addon">Estimates</span>
                                    <%= hidden_field_tag 'storyid[]', story.id %>
                                    <%= text_field_tag 'timeestimate[]', story.timeestimates, class: 'form-control' %>

                                </div>
                            <% end %>
                            <div class="clear"></div>
                        </div>

                        <div class="panel-body">
                            <%= story.description %>
                            <ul class="acceptance-tests text-primary">
                                <% story.test.split(/\n/).each do |test| %>
                                    <li># <%= test %></li>
                                <% end %>
                            </ul>
                            <% if !story.note.nil? %>
                                <ul class="notes text-warning">
                                    <% story.note.split(/\n/).each do |note| %>
                                        <li>-- <%= note %></li>
                                    <% end %>
                                </ul>
                            <% end %>
                        </div>
                    </div>
                <% end %>
                <% if scrummaster? || admin? %>
                    <% if @current_sprint != nil %>
                    <%= submit_tag ("Add to current sprint"), :name => 'addtosprint',:class => "btn btn-primary pull-right" %>
                    <% end %>
                    <%= submit_tag ("Save time estimates"), :name => 'timeestimates', :class => "btn btn-primary pull-right" %>
                <% end %>
            <% end %>

            <% else %>
                No remaining user stories
            <% end %>
        </div>
    </div>
    <div class="tab-pane" id="finished-stories">
        <h2>Finished user stories</h2>
        <div class="part-story">
            <% if !@finishedStories.empty? %>
                <% @finishedStories.each do |story| %>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="story-head">
                                <h4><%= story.name %></h4>
                                <small>Priority: <%= story.priority.name %> <% if !story.value.nil? %> | Business value: <%= story.value %> <% end %> | Estimates: <%= story.timeestimates %></small>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="panel-body">
                            <%= story.description %>
                            <ul class="acceptance-tests text-primary">
                                <% story.test.split(/\n/).each do |test| %>
                                    <li># <%= test %></li>
                                <% end %>
                            </ul>
                            <% if !story.note.nil? %>
                                <ul class="notes text-warning">
                                    <% story.note.split(/\n/).each do |note| %>
                                        <li>-- <%= note %></li>
                                    <% end %>
                                </ul>
                            <% end %>
                        </div>
                    </div>
                <% end %>
            <% else %>
                No finished user stories
            <% end %>
        </div>
    </div>
</div>
