<h1>Product backlog</h1>
<div class="backlog-buttons">
    <% if productowner? || scrummaster? || admin? %>
        <%= button_to "Add story", new_story_path, :class => "btn btn-primary pull-right", :method => :get %>
    <% end %>
    <% if scrummaster? || admin? %>
        <%= button_to "Manage sprints", sprints_path, :class => "btn btn-primary pull-right", :method => :get %>
    <% end %>
</div>

<!-- Nav tabs -->
<ul class="nav nav-tabs">
    <li class="active"><a href="#unfinished-stories" data-toggle="tab">Unfinished stories</a></li>
    <li><a href="#finished-stories" data-toggle="tab">Finished stories</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" id="unfinished-stories">
        <h2>User stories for current sprint</h2>
        <div class="part-story">
            <% if !@sprintStories.empty? %>
                <% @sprintStories.each do |story| %>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <%= story.name %> (Priority: <%= story.priority.name %> | Business
                                value: <%= story.value %>)
                            </div>
                            <%= button_to "Edit", edit_story_path(story.id), :class => "btn btn-xs btn-success pull-right", :method => :get %>
                            <%= button_to "Remove", story_path(story.id), :class => "btn btn-xs btn-danger pull-right", :method => :delete %>
                            <div class="clear"></div>
                        </div>
                        <div class="panel-body">
                            <%= story.description %>
                        </div>
                    </div>
                <% end %>
            <% else %>
                No stories for current sprint
            <% end %>
        </div>
        <h2>Remaining user stories</h2>
        <div class="part-story">
            <% if !@remainingStories.empty? %>
                <% @remainingStories.each do |story| %>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <% if @sm == 1 %>
                                    <%= check_box("story_checked", story.id) %>
                                <% end %>
                                <%= story.name %> (Priority: <%= story.priority.name %> | Business
                                value: <%= story.value %>)
                            </div>
                            <%= button_to "Edit", edit_story_path(story.id), :class => "btn btn-xs btn-success pull-right", :method => :get %>
                            <%= button_to "Remove", story_path(story.id), :class => "btn btn-xs btn-danger pull-right", :method => :delete %>
                            <%= button_to("Edit tasks", {:controller => "tasks", :action => "new", :id =>story.id}, :class => "btn btn-xs btn-primary pull-right")%>
                            <div class="clear"></div>
                        </div>
                        <div class="panel-body">
                            <%= story.description %>

                            <% @tasks = Task.where(story_id: story.id) %>
                            <!--<% @tasks.each do |task| %>-->
                            <!--<%= task.name %>-->
                            <!--<br />-->
                            <!--<% end %>-->

                          <% if @tasks.count != 0 %>
                          <div class="panel panel-default panel-list-user">
                            <div class="panel-heading">
                              <%= form_tag tasks_path, :method => 'get' do %>

                                  <div><b>Tasks</b></div>
                              <% end %>
                              <!--<%= button_to "Add task", new_task_path, :class => "btn btn-primary pull-right", :method => :get %>-->
                              <div class="clear"></div>
                            </div>

                            <!-- Table -->
                            <table class="table table-striped">
                              <thead>
                              <tr>
                                <th>Name</th>
                                <th>Assigned to</th>
                                <th></th>
                              </tr>
                              </thead>
                              <tbody>
                              <% @tasks.each do |task| %>
                                  <tr>
                                    <td><%= task.name %></td>
                                    <% if task.assigned_to == nil %>



                                        <!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!ADD ASSIGNED TO (USER ID (CURRENT_USER)) TO TASK, GET FROM PARAMS-->

                                        <td><%= link_to "Accept task", accept_path(:id => task.id), :method => :post %></td>
                                    <% else %>
                                      <td><%= User.find(task.assigned_to).name %></td>
                                    <% end %>
                                    <!--<td><%= task.assigned_to %></td>-->
                                    <td><%=  %></td>
                                    <td></td>
                                  </tr>
                              <% end %>
                              </tbody>
                            </table>
                          </div>
                        </div>
                        <% else %>
                        <% end %>
                    </div>
                <% end %>
                <% if @sm == 1 %>
                    <%= button_to "Add to current sprint1",{}, :class => "btn btn-primary pull-right", :method => :get %>
                    <% end %>
            <% else %>
                No remaining user stories
            <% end %>
        </div>
    </div>
    <div class="tab-pane" id="finished-stories">
        <h2>Finished user stories</h2>
        <div class="part-story">
            <% if !@finishedStories.empty? %>
                <% @finishedStories.each do |story| %>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <%= story.name %> (Priority: <%= story.priority.name %> | Business
                                value: <%= story.value %>)
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="panel-body">
                            <%= story.description %>
                        </div>
                    </div>
                <% end %>
            <% else %>
                No finished user stories
            <% end %>
        </div>
    </div>
</div>
