<div id="refreshdiv">
	<h1>Planning poker</h1>
<h2>User story: <%= @story.name %></h2>
	<div class="panel panel-default">
        <div class="panel-body">
            <%= @story.description %>
            <ul class="acceptance-tests text-primary">
                <% @story.test.split(/\n/).each do |test| %>
                    <li># <%= test %></li>
                <% end %>
            </ul>
            <% if !@story.note.nil? %>
                <br/>
                <ul class="notes text-warning">
                    <% @story.note.split(/\n/).each do |note| %>
                        <li>-- <%= note %></li>
                    <% end %>
                </ul>
            <% end %>
        </div>
    </div>
  <% @average=0 %>
<h2>Planning poker rounds</h2>



	<% if !@rounds_inactive.nil? %>
	<% if !@rounds_inactive.empty? || !@curr_round.nil? %>
		<table class="table table-striped">
  			<thead>
		    <tr>
		      <th>Round</th>
		       <% @ids.each do |u| %>
		       		<th><%= User.find_by_id(u).username %></th>
		       <% end %>
		      <th>Average (pts)</th>
		      <th>Average (h)</th>
		    </tr>
		  </thead>

		  <tbody>
		  		<% @roundhash.each do |round, user| %>
		      	<tr>
		      		<% if @curr_round.to_i != round.to_i %>
			        	<td><%= Round.find_by_id(round).created_at %></td>
			        	 <% @average=0 %>
			        	<% @it=0 %>
			        	<% user.each do |value| %>
			        		<% if value[1].nil? %>
			        			<td>-</td>
			        		<% else %>
			        			<td><%= value[1] %></td>
			        			<% @average = @average+value[1] %>
			        			<% @it = @it+1 %>
			        		<% end %>
			        	<% end %>
				        <td><%= number_with_precision(@average = (@it == 0) ? 0 : @average/@it, :precision => 2) %></td>
				        <% average2 = @average*6 %>
				        <td><%= number_with_precision(average2, :precision => 2) %></td>
				     <% elsif @has_voted.empty?  %>
				    	<td><%= Round.find_by_id(round).created_at %></td>
			        	<td colspan = "<%= 2+@ids.size %>"><b>Send your estimates to see result</b></td>
			        <% else %>
				    	<td><%= Round.find_by_id(round).created_at %></td>
			        	<% @average=0 %>
			        	<% @it=0 %>
			        	<% user.each do |value| %>
			        		<% if value[1].nil? %>
			        			<td>-</td>
			        		<% else %>
			        			<td><%= value[1] %></td>
			        			<% @average = @average+value[1] %>
			        			<% @it = @it+1 %>
			        		<% end %>
			        	<% end %>
				        <td><%= number_with_precision(@average = (@it == 0) ? 0 : @average/@it, :precision => 2) %></td>
				        <% average2 = @average*6 %>
				        <td><%= number_with_precision(average2, :precision => 2) %></td>
			        <% end %>
		      	</tr>
		      	<% end %>
		  </tbody>
		</table>

	<small>All values represents story points (unless otherwise specified)</small><br />
		<% elsif @curr_round.nil? %>
			No rounds have been played yet.
		<% end %>
	<!-- popravi da bo kazal prov -->
	<% else %>
		No rounds have been played yet.
	<% end %>
<% if !@round.nil? %>
	<% if scrummaster? %>
	<%= button_to "End the round", {:action => "endgame", :controller => "pokers"}, :class => "btn btn-primary pull-left", :method => :post %>
	<% end %>
	<% if scrummaster? %>
	<%= button_to "Use last estimate", {:action => "savetime", :controller => "pokers", :time => @average}, :class => "btn btn-primary pull-right", :method => :post %>
	
	<% end %>
	<div class="clear"></div>
	<% if @has_voted.empty?  %>
		<p><b>Your estimate: </b>
		<% @pokercards.each do |p| %>
			<%= button_to p, {:action => "makeentry", :controller => "pokers", :entry => p}, :class => "	pokerbutton", :method => :post %>
		<% end %>
		<button data-toggle="modal" data-target="#pokerModal">Custom</button>
		

		<div class="modals">
        <div class="modal" id="pokerModal" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Add custom estimate</h4>
                    </div>
                    	<form action="/pokers/makeentry" method="post">
 
						 
						  	Enter your custom estimate time:<%= text_field_tag "entry" %>

						  	<div class="modal-footer">
	                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
	                            <%= submit_tag ("Save estimate"), :class => "btn btn-primary pull-right" %>
	                        </div>

						</form>
                    	
                        
                </div>
            </div>
        </div>
    </div>
	</p>	

	<% end %>
<% elsif scrummaster? %>
	<%= button_to "Start a new round", {:action => "startgame", :controller => "pokers", :story =>{:story_id=>@story_id}}, :class => "btn btn-primary pull-left", :method => :post %>
	<% if !@rounds_inactive.empty? %>
		<%= button_to "Use last estimate", {:action => "savetime", :controller => "pokers", :time => @average}, :class => "btn btn-primary pull-right", :method => :post %>
	<% end %>
	<%= button_to "Cancel", {:action => "cancel", :controller => "pokers"}, :class => "btn btn-primary pull-right", :method => :post %>
<% end %>
</div>

