
<h1>Planning poker</h1>
<h2>User story: <%= @story.name %></h2>
	<div class="panel panel-default">
        <div class="panel-body">
            <%= @story.description %>
            <ul class="acceptance-tests text-primary">
                <% @story.test.split(/\n/).each do |test| %>
                    <li># <%= test %></li>
                <% end %>
            </ul>
            <% if !@story.note.nil? %>
                <br/>
                <ul class="notes text-warning">
                    <% @story.note.split(/\n/).each do |note| %>
                        <li>-- <%= note %></li>
                    <% end %>
                </ul>
            <% end %>
        </div>
    </div>
  <% @average=0 %>
<h2>Planning poker rounds</h2>

<%= render partial: "new" %>
