<h2>Work history</h2>
<%= @lst %>
<div class="part-story">

  <% if !@worktimes.empty? %>
      <%= form_tag worksave_url do %>
          <%= submit_tag ("Save changes"), :name => 'timechanges', :class => "btn btn-primary pull-right" %>
          <br />
          <br />
          <br />
          <% @worktimes.each do |w| %>
              <div class="panel panel-default">
                <div class="panel-heading">

                  <div class="story-head">
                    <h4><%= w.day %></h4>

                  <div class="clear"></div>
                </div>

                <div class="panel-body">

                  <div class="input-group input-group-sm">
                    <span class="input-group-addon">Remaining</span>
                    <%= text_field_tag 'time_remaining[]', w.remaining, class: 'form-control' %>
                  </div>
                  <div class="input-group input-group-sm">
                    <span class="input-group-addon">Done</span>
                    <%= hidden_field_tag 'time_id[]', w.id %>
                    <!--NEWNEW-->
                    <%= hidden_field_tag 'time_day[]', w.day %>
                    <%= text_field_tag 'time_done[]', w.done, class: 'form-control' %>
                  </div>

                </div>
              </div>
              </div>
          <% end %>
          <%= hidden_field_tag 'task_id', @id %>

      <% end %>
  <% else %>
      Error
  <% end %>

</div>